body{
    margin: 0 auto;
}
#section1{
    height: 100vh;
    width:100%;
    background-color: #4bcf9d;
    position: relative;
}
#section2{
    height: 100vh;
    width:100%;
    background-color: #11cfac;
    position: relative;
}
#section3{
    height: 100vh;
    width:100%;
    background-color: #1eb7b9;
    position: relative;
}

img{
    height: 40vh;
}
h1{
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-justify: distribute;
    text-transform: uppercase;
}
.content1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(34, 34, 34);
}
.content2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(34, 34, 34);
}
.content3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(34, 34, 34);
}
nav{
    position: fixed;
    top: 1px;
    left: 85%;
    z-index: 2;
}

li{
    list-style: none;
    margin-right: 5px;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: left;
    border: 1px dotted rgb(36, 0, 53);
    border-radius: 50%;
    color: rgb(35, 11, 51);
    background-color: rgb(238, 254, 255);
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
a{
    text-decoration: none;
    color: rgb(48, 0, 87);
}