body{
    margin: 0 auto;
}
#section1{
    height: 100vh;
    width:100%;
    background-color: rgb(243, 198, 161);
    margin: 0;
    position: relative;
}
#section2{
    height: 100vh;
    width:100%;
    background-color: rgb(241, 180, 109);
    margin: 0;
}
#section3{
    height: 100vh;
    width:100%;
    background-color: rgb(209, 124, 90);
    margin: 0;
}

.content:only-of-type img{
    height: 50vh;
}
.content h1{
    font-family: monospace, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: 5vh;
    text-align: center;
}
