body{
    margin: 0 auto;
}
#section1{
    height: 100vh;
    width:100%;
    background-color: rgb(243, 198, 161);
    position: relative;
}
#section2{
    height: 100vh;
    width:100%;
    background-color: rgb(241, 180, 109);
    position: relative;
}
#section3{
    height: 100vh;
    width:100%;
    background-color: rgb(209, 124, 90);
    position: relative;
}

img{
    height: 40vh;
}
h1{
    font-size: 3vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-justify: distribute;
    text-transform: uppercase;
}
.content1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(34, 34, 34);
}
.content2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(34, 34, 34);
}
.content3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(34, 34, 34);
}
